<a href="https://colab.research.google.com/github/sarindesai/notebooks/blob/main/Pandas_basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Pandas Introduction

In [ ]:
from pandas import *
from numpy import *
from scipy import *
series1  = Series([1, 2, 3, 4])
print("Series 1 is : ",series1)

Series 1 is :  0    1
1    2
2    3
3    4
dtype: int64

In [ ]:
# Extracting the Index and Values separately from a Series 
series1_val=series1.values
series1_indx=series1.index
print("the series1 values is ", series1_val)
print("the series1 Index is ", series1_indx)

the series1 values is  [1 2 3 4]
the series1 Index is  RangeIndex(start=0, stop=4, step=1)

In [ ]:
a=Series([1,2,3,4,4],index=['a','b','c','d','e'])
print(a)
print(a.values)
print(a.index)
a.dtype

a    1
b    2
c    3
d    4
e    4
dtype: int64
[1 2 3 4 4]
Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

dtype('int64')

In [ ]:
#------
# Specifying a Series with Indics pre defined
#-----
series3=Series([1,2,3,4],index=['a','b','c','d'])
print('the series3 is ', series3)

the series3 is  a    1
b    2
c    3
d    4
dtype: int64

In [ ]:
#Finding the data type of the series
print("data type of Series2 is : ",series3.dtype)

data type of Series2 is :  int64

In [ ]:
series3.dtype

dtype('int64')

In [ ]:
# Check Data Type of Array 
array_data1 = [1,2,3,4]
Array1 = array(array_data1)
print("data type of Array1 is : ",Array1.dtype)

data type of Array1 is :  int64

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: DeprecationWarning: scipy.array is deprecated and will be removed in SciPy 2.0.0, use numpy.array instead
  This is separate from the ipykernel package so we can avoid doing imports until

In [ ]:
#Dictionary and Series
#-------------------------------------------
# Converting Dictionary to Series 
#------------------------------------------
sdata = {'Kerala': 35000, 'Bihar': 71000, 'Madhya Pradesh': 16000, 'Telangana': 5000}
Series_State = Series(sdata)
# Now Check if Indices have the Keys 
print("Indices of Series are Keys of Dict: ",Series_State.index)

Indices of Series are Keys of Dict:  Index(['Kerala', 'Bihar', 'Madhya Pradesh', 'Telangana'], dtype='object')

In [ ]:
# Now check if the key value comes in values 
print("Value of the Series is the Value of the Dict: ",Series_State.values)

Value of the Series is the Value of the Dict:  [35000 71000 16000  5000]

In [ ]:
# Now consider passing Only key Values  with A Invalid Key 
States1 =['Kerala','Bihar','Madhya Pradesh','Assam']
Series_State2 = Series(sdata,index=States1)
# Check Values now with this Key 
print("Values based on new key set ",Series_State2.values)
# Observe the NA in the position of the invalid key

Values based on new key set  [35000. 71000. 16000.    nan]

In [ ]:
# ----------------------------------------------------------------
# Detecting missing data in series
#-----------------------------------------------------------------
NullCheck = isnull(Series_State2)
print("NullCheck is :  " ,NullCheck)

NullCheck is :   Kerala            False
Bihar             False
Madhya Pradesh    False
Assam              True
dtype: bool

In [ ]:
# ------------------------------------------------------------
# Naming the index and the Value Attributes in a Series 
#------------------------------------------------------------
#Series_State.name = 'population'
Series_State.index.name = 'State'
print("State Series ", Series_State)

State Series  State
Kerala            35000
Bihar             71000
Madhya Pradesh    16000
Telangana          5000
dtype: int64

In [ ]:
#Data Frames
# Create a Data Frame from a Equal length list or numpy arrays 
data = {'state': ['Madhya Pradesh', 'Madhya Pradesh', 'Madhya Pradesh', 'Tamil Nadu','Tamil Nadu'],
'year': [2000, 2001, 2002, 2001, 2002],
'pop': [1.5, 1.7, 3.6, 2.4, 2.9]}

# Check data type to confirm its a dictionary 
type(data)
#print(data)

dict

In [ ]:
data.keys()

dict_keys(['state', 'year', 'pop'])

In [ ]:
# Display the keys of this dictionary
print(data.keys())

# Convert to Dataframe 
df=DataFrame(data)

# Display the DataFrame 
print(df)
# Note column names are in alphabetical order

dict_keys(['state', 'year', 'pop'])
            state  year  pop
0  Madhya Pradesh  2000  1.5
1  Madhya Pradesh  2001  1.7
2  Madhya Pradesh  2002  3.6
3      Tamil Nadu  2001  2.4
4      Tamil Nadu  2002  2.9

In [ ]:
# Customize column sequence 
df_new = DataFrame(data, columns=['year', 'state', 'pop'])
print(df_new)

# Retrieving col information 
#State_Data = df_new.state

# Display Retrieved Col 
#print(State_Data )

   year           state  pop
0  2000  Madhya Pradesh  1.5
1  2001  Madhya Pradesh  1.7
2  2002  Madhya Pradesh  3.6
3  2001      Tamil Nadu  2.4
4  2002      Tamil Nadu  2.9

In [ ]:
# Retrieving col information 
State_Data = df_new.state

# Display Retrieved Col 
print(State_Data )

0    Madhya Pradesh
1    Madhya Pradesh
2    Madhya Pradesh
3        Tamil Nadu
4        Tamil Nadu
Name: state, dtype: object

In [ ]:
# Check the indices for this dataframe
df_new.index

# Print data for index position 2 
#print(df_new.index[2])

RangeIndex(start=0, stop=5, step=1)

In [ ]:
#reset data values-year col all set to a scalar
df_new['year']=2022

#recheck data in this data frame : All year values changed to 2001
print(df_new)

   year           state  pop
0  2022  Madhya Pradesh  1.5
1  2022  Madhya Pradesh  1.7
2  2022  Madhya Pradesh  3.6
3  2022      Tamil Nadu  2.4
4  2022      Tamil Nadu  2.9

In [ ]:
# Create a New column 
df_2 = DataFrame(data, columns=['year', 'state', 'pop', 'debt'])

# display new data frame 
print(df_2)

   year           state  pop debt
0  2000  Madhya Pradesh  1.5  NaN
1  2001  Madhya Pradesh  1.7  NaN
2  2002  Madhya Pradesh  3.6  NaN
3  2001      Tamil Nadu  2.4  NaN
4  2002      Tamil Nadu  2.9  NaN

In [ ]:
# Fill Data in specified index positions in New Col 
val = Series([-1.2, -1.5, -1.7], index=[0, 1, 2])
df_2['debt'] = val 

# Display Dataframe again 
print(df_2 )

   year           state  pop  debt
0  2000  Madhya Pradesh  1.5  -1.2
1  2001  Madhya Pradesh  1.7  -1.5
2  2002  Madhya Pradesh  3.6  -1.7
3  2001      Tamil Nadu  2.4   NaN
4  2002      Tamil Nadu  2.9   NaN

In [ ]:
# Create a Computed Column 
# Just assign a column which does not exist 
# eg create a col which is true if state is Eastern State of Ohio 
df_2["Central"] = df_2.state == 'Madhya Pradesh'

# Display  again 
print(df_2)

   year           state  pop  debt  Central
0  2000  Madhya Pradesh  1.5  -1.2     True
1  2001  Madhya Pradesh  1.7  -1.5     True
2  2002  Madhya Pradesh  3.6  -1.7     True
3  2001      Tamil Nadu  2.4   NaN    False
4  2002      Tamil Nadu  2.9   NaN    False

In [ ]:
df_2["South"] = df_2.state == 'Tamil Nadu'
print(df_2)

   year           state  pop  debt  Central  South
0  2000  Madhya Pradesh  1.5  -1.2     True  False
1  2001  Madhya Pradesh  1.7  -1.5     True  False
2  2002  Madhya Pradesh  3.6  -1.7     True  False
3  2001      Tamil Nadu  2.4   NaN    False   True
4  2002      Tamil Nadu  2.9   NaN    False   True

In [ ]:
# Delete a column 
del df_2["Central"]
# Display again 
print(df_2)

   year           state  pop  debt  South
0  2000  Madhya Pradesh  1.5  -1.2  False
1  2001  Madhya Pradesh  1.7  -1.5  False
2  2002  Madhya Pradesh  3.6  -1.7  False
3  2001      Tamil Nadu  2.4   NaN   True
4  2002      Tamil Nadu  2.9   NaN   True

In [ ]:
#-------------------------------------
# Creating a Data Frame from a nested dict of dicts 
#-------------------------------------------------------------
pop = {'Kerala': {2001: 2.4, 2002: 2.9},
        'Madhya Pradesh': {2000: 1.5, 2001: 1.7, 2002: 3.6}}
df_3 = DataFrame(pop) 
# Display 
print(df_3)

      Kerala  Madhya Pradesh
2001     2.4             1.7
2002     2.9             3.6
2000     NaN             1.5

In [ ]:
# We can transpose as well 
df_3_T = df_3.T 
# Display Transposed 
print(df_3_T)

                2001  2002  2000
Kerala           2.4   2.9   NaN
Madhya Pradesh   1.7   3.6   1.5

In [ ]:
df_3.T

                2001  2002  2000
Kerala           2.4   2.9   NaN
Madhya Pradesh   1.7   3.6   1.5

# More on data framing and Indexing

In [ ]:
# Create data Frame Note: Matrix fills By Row as default 
from numpy import *
DF = DataFrame(arange(25).reshape((5,5)),index=['Kerala','Bihar','Madhya Pradesh','Assam','Tamil Nadu'],columns=['one', 'two', 'three', 'four','five'])
# Display DF 
DF

                one  two  three  four  five
Kerala            0    1      2     3     4
Bihar             5    6      7     8     9
Madhya Pradesh   10   11     12    13    14
Assam            15   16     17    18    19
Tamil Nadu       20   21     22    23    24

In [ ]:
# drop rows 
DF_1 = DF.drop(['Assam', 'Tamil Nadu'])
# Display DF
DF_1

                one  two  three  four  five
Kerala            0    1      2     3     4
Bihar             5    6      7     8     9
Madhya Pradesh   10   11     12    13    14

In [ ]:
# Drop columns : note columns are treated as axis 1 
DF_2 = DF.drop('two',axis=1)
# Display 
DF_2

                one  three  four  five
Kerala            0      2     3     4
Bihar             5      7     8     9
Madhya Pradesh   10     12    13    14
Assam            15     17    18    19
Tamil Nadu       20     22    23    24

### Sub setting and indexing data structures

In [ ]:
#Indexing and subsetting the series
#------------------------------------------------------------
#  Subselect data using indexing  - 1D Array 
#------------------------------------------------------------
# Create a numeric array of size 5
Ser1 =  Series(arange(5),index=['a', 'b', 'c', 'd','e'])
# Display the Series 
Ser1

a    0
b    1
c    2
d    3
e    4
dtype: int64

In [ ]:
#Index by Index Name directly
Ser1_Idx_b = Ser1['e']
# Display extract
Ser1_Idx_b

4

In [ ]:
# Use a Index range to Redefine Series elements 
Ser1['a':'d'] = 55
# Display after Re indexing 
Ser1

a    55
b    55
c    55
d    55
e     4
dtype: int64

## Subsetting and indexing on dataframes

In [ ]:
# Create data Frame Note: Matrix fills By Row as default 
DF = DataFrame(arange(25).reshape((5, 5)),
               index=['Kerala','Bihar','Madhya Pradesh','Assam','Tamil Nadu'],
               columns=['one', 'two', 'three', 'four','five'])
DF

                one  two  three  four  five
Kerala            0    1      2     3     4
Bihar             5    6      7     8     9
Madhya Pradesh   10   11     12    13    14
Assam            15   16     17    18    19
Tamil Nadu       20   21     22    23    24

In [ ]:
# Slice Two columns from DF 
# Note the Double Subscripting  to refer to columns 
DF_subset = DF[['two','three']]
# Display 
DF_subset

                two  three
Kerala            1      2
Bihar             6      7
Madhya Pradesh   11     12
Assam            16     17
Tamil Nadu       21     22

In [ ]:
# Replace all data  values less than 5 with zeros 
#--
DF[DF < 5] = 0
# Check replacement 
DF

                one  two  three  four  five
Kerala            0    0      0     0     0
Bihar             5    6      7     8     9
Madhya Pradesh   10   11     12    13    14
Assam            15   16     17    18    19
Tamil Nadu       20   21     22    23    24

In [ ]:
# Use Special indexing loc  to subselect rows then  cols 
#-------------------------------------------------------
DF_One_row_2Cols = DF.loc['Assam', ['two', 'three']]
# Display 
DF_One_row_2Cols

two      16
three    17
Name: Assam, dtype: int64

In [ ]:
# Row pos 2 col pos 3
DF_Row2_Col3 = DF.iloc[1,2]
# Display 
DF_Row2_Col3

7

## Applying Functions to dataframe cols or rows

In [ ]:
df1 = DataFrame(arange(12).reshape((3, 4)), columns=list('robi'))
# Display 
df1

   r  o   b   i
0  0  1   2   3
1  4  5   6   7
2  8  9  10  11

In [ ]:
df1 = DataFrame(arange(12.).reshape((3, 4)), columns=list('abcd'))
# Display 
df1

     a    b     c     d
0  0.0  1.0   2.0   3.0
1  4.0  5.0   6.0   7.0
2  8.0  9.0  10.0  11.0

In [ ]:
#  default - summary applied over cols 
#-------------------
MaxCol = max(df1)
print("col Max", MaxCol)
#  summary applied over rows 
MaxRow =max(df1)
print("rowmax",MaxRow)

col Max d
rowmax d

In [ ]:
import numpy as np
#  default - summary applied over cols 
#-------------------
MaxCol = np.max(df1)
print("col Max", MaxCol)
#  summary applied over rows 
MaxRow =np.max(df1)
print("rowmax",MaxRow)

col Max a     8.0
b     9.0
c    10.0
d    11.0
dtype: float64
rowmax a     8.0
b     9.0
c    10.0
d    11.0
dtype: float64

In [ ]:
# Define  inline function 
f = lambda x: x.max() - x.min()
Func_Res = df1.apply(f)
print(Func_Res)

a    8.0
b    8.0
c    8.0
d    8.0
dtype: float64

#### Sorting for data structures

In [ ]:
# 1)  sorting lexicographically by index 
#----------------------------------------------
# define series  
df1 = Series(range(4), index=['d', 'a', 'b', 'c'])
#  Display 
df1

d    0
a    1
b    2
c    3
dtype: int64

In [ ]:
# Sort on index 
df1_sorted = df1.sort_index()
df1_sorted

a    1
b    2
c    3
d    0
dtype: int64

In [ ]:
# Sorting for 2D  Frame 
# Create a 2D DF
DF2 = DataFrame(arange(8).reshape((2, 4)), index=['three', 'one'],
 columns=['d', 'a', 'b', 'c'])
DF2

       d  a  b  c
three  0  1  2  3
one    4  5  6  7

In [ ]:
# Sort Index
DF2_Srted = DF2.sort_index()
# Display Sorted ( row index by default chosen )
DF2_Srted

       d  a  b  c
one    4  5  6  7
three  0  1  2  3

In [ ]:
# sort by col index 
DF2_col_srt = DF2.sort_index(axis=1)
# Display 
DF2_col_srt

       a  b  c  d
three  1  2  3  0
one    5  6  7  4

In [ ]:
df3=DF2_col_srt.sort_index(axis=0)
print(df3)

       a  b  c  d
one    5  6  7  4
three  1  2  3  0

### End of Module  - Pandas